<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/semantic-ui/semantic.min.css">
    <title>
        Creation de chambre
    </title>
</head>

<body>
    <div class="ui container" style="margin-top: 2rem;">
        <h1>Création de chambre</h1>

        <!-- Formulaire -->
        <form class="ui form" method="POST" action="/chambres">
            <div class="field">
                <label>Numéro de chambre</label>
                <input type="text" name="numero" placeholder="Numéro" required>
            </div>

            <div class="field">
                <label>Capacité</label>
                <input type="number" name="capacite" placeholder="1" min="1" required>
            </div>

            <button type="submit" class="ui positive button">Créer</button>
            <a href="../accueil.ejs" class="ui button">Annuler</a>
        </form>
    </div>
</body>

</html>